In [2]:
pip install pandas-profiling

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas-profiling in c:\users\harsha\appdata\roaming\python\python39\site-packages (3.6.6)
Requirement already satisfied: ydata-profiling in c:\users\harsha\appdata\roaming\python\python39\site-packages (from pandas-profiling) (4.0.0)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from ydata-profiling->pandas-profiling) (0.1.12)
Requirement already satisfied: multimethod<1.10,>=1.4 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from ydata-profiling->pandas-profiling) (1.9.1)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (0.13.2)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (1.4.2)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from ydata-profiling->pandas-profiling) (1.10.4)
Requirement already satisfied: matplotlib<3.7,>=3.2 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (3.5.1)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from ydata-profiling->pandas-profiling) (0.12.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (2.27.1)
Requirement already satisfied: scipy<1.10,>=1.4.1 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (1.7.3)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (4.64.0)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from ydata-profiling->pandas-profiling) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (1.21.5)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from ydata-profiling->pandas-profiling) (2.13.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (2.11.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (6.0)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in e:\anaconda\lib\site-packages (from ydata-profiling->pandas-profiling) (0.11.2)
Requirement already satisfied: attrs>=19.3.0 in e:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (21.4.0)
Requirement already satisfied: networkx>=2.4 in e:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (2.7.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (0.2.0)
Requirement already satisfied: imagehash in c:\users\harsha\appdata\roaming\python\python39\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in e:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (9.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in e:\anaconda\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (2.0.1)
Requirement already satisfied: fonttools>=4.22.0 in e:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in e:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (3.0.4)
Requirement already satisfied: cycler>=0.10 in e:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in e:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (2.8.2)
Requirement already satisfied: packaging>=20.0 in e:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\anaconda\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.3.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in e:\anaconda\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\harsha\appdata\roaming\python\python39\site-packages (from pydantic<1.11,>=1.8.1->ydata-profiling->pandas-profiling) (4.4.0)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in e:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in e:\anaconda\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (1.26.9)
Requirement already satisfied: patsy>=0.5.2 in e:\anaconda\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in e:\anaconda\lib\site-packages (from tqdm<4.65,>=4.48.2->ydata-profiling->pandas-profiling) (0.4.4)
Requirement already satisfied: PyWavelets in e:\anaconda\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport
import numpy as np

C:\Users\Harsha\AppData\Local\Temp\ipykernel_9292\4240260412.py:4: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [4]:
 df=pd.read_csv(r'C:\Users\Harsha\Downloads\advertising.csv')

In [5]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
df.tail(6)

        TV  Radio  Newspaper  Sales
194  149.7   35.6        6.0   17.3
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [7]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [8]:
pf=ProfileReport(df)

In [9]:
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [10]:
pf.to_file('text.html')

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [63]:
x= df[["TV"]]

In [64]:
x

        TV
0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
..     ...
195   38.2
196   94.2
197  177.0
198  283.6
199  232.1

[200 rows x 1 columns]

In [77]:
y=df.Sales

In [78]:
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [79]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [80]:
linear.fit(x,y)

LinearRegression()

In [81]:
linear.intercept_

6.9748214882298925

In [82]:
linear.coef_

array([0.05546477])

In [85]:
file = 'linear_reg.sav'
pickle.dump(linear,open(file,'wb'))

In [86]:
linear.predict([['45']])

E:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
E:\Anaconda\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

array([9.47073616])